body {
    background-color:lightgray;
    
    margin: 0 0;
}
.areagame {
    background-color: white;
    width: 960px;
    margin-top: 40px;
    margin-left: 150px;
    padding-bottom: 30px;
}
h1 {
    font-size: 50px;
    font-family: fantasy;
    color: purple;
    padding-top: 30px;
    text-align: center;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.results {
    color: white;
    height: 150px;
    padding: 30px;
}
.stone {
    width: 150x;
    height: 150px;
}

#gameEnd {
    color: red;
    font-size: 30px;
    font-family: fantasy;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.image {
    width: 200px;
    height: 100px;

}